.idea/sonarlint/issuestore/2/c/
.idea/sonarlint/issuestore/2/e/
.idea/sonarlint/issuestore/3/6/
.idea/sonarlint/issuestore/5/6/56c608912c60458d12ebb4a48974e44905f0293c
.idea/sonarlint/issuestore/c/2/
.idea/sonarlint/issuestore/f/b/
.idea/sonarlint/issuestore/f/f/

.idea/sonarlint/issuestore/5/d/
.idea/sonarlint/issuestore/8/4/84a1db7ea96891aa0db3be73f2ab5dd5d72014c0
.idea/sonarlint/issuestore/a/2/
.idea/sonarlint/issuestore/d/5/



